.all-products__h1 {
    font: var(--font-h1);
    font-weight: bold;
    margin-bottom: 10px;
}

.all-products__h2 {
    font: var(--font-h2);
    font-weight: bold;
    margin-bottom: 10px;
}

.all-products__cards {

    @include breakpoint($break-medium) {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--spacing-32);
    }

    @include breakpoint($break-large) {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
}