.btn {
    padding-left: var(--spacing-12);
    padding-right: var(--spacing-12);
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--input-and-btn-height);
    border-radius: var(--border-radius-4);
    gap: var(--spacing-12);
}

//BTN Article

.btn--article {
    background-color: var(--color-orange);
    color: var(--color-white);
    width: 180px;
    padding: 16px 16px;
}

// BTN filled

.btn--filled {
    background-color: var(--color-orange);
    color: var(--color-white);
    padding: 16px 16px;
}

// BTN text
.btn--text {
    background-color: transparent;
    color: var(--color-black);
    padding: 20px;
    position: absolute;
    right: 30px;
}

// BTN climbing material

.all-products__buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn__link {
    color: black;
    font-size: 10px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}