.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.card__img {
    border: 1px solid orange;
    margin-bottom: 10px;
}

.card__h3 {
    font: var(--font-h3);
}

.card__p {
    font: var(--font-body);
    margin-bottom: 10px;
}