main {
    padding: var(--spacing-54) var(--spacing-24);

    @include breakpoint($break-medium) {
        padding: var(--spacing-64) var(--spacing-32);
    }
}

.temporada {
    background-image: url(../../assets/images/climbing-orange.png);
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 172px;
    margin: auto;
    border-radius: 10px;
}